html,
body {
    font-family: Roboto, sans-serif;
    background: url(https://th3el.github.io/cdn-buser/w2.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: #fff;
    text-shadow: 1px 0px 2px #000;
}
.box {
    display: table;
    width: 100%;
    height: 100%;
}
.box .box-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.box .box-content .bc-img {
    margin-bottom: 80px;
}
.box .box-content .bc-text {
    background-color: rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    padding: 24px 0 32px;
}
.box .box-content .bc-text h1 {
    font-weight: bold;
    font-size: 48px;
}
.box .box-content .bc-text pre {
    font-size: 24px;
    white-space: pre-line;
    max-width: 900px;
    margin-top: 24px;
    display: inline-block;
}
@media (max-width: 768px) {
    .box .box-content .bc-img {
        margin-bottom: 40px;
        width: 160px;
    }
    .box .box-content .bc-text h1 {
        font-size: 30px;
    }
    .box .box-content .bc-text p {
        font-size: 16px;
        max-width: 600px;
    }
}